<div class="title">
  Проверка статуса заявления  XYZ-124-12452
</div>

<div class="statement__info">
  <div class="statement__info__item">
    <div class="info__label">Номер заявления</div>
    <div class="info__value">XYZ-124-12452</div>
  </div>
  <div class="statement__info__item">
    <div class="info__label">ФИО</div>
    <div class="info__value">Ещкермен Ашкурек Чебуреков</div>
  </div>
  <div class="statement__info__item">
    <div class="info__label">Дата подачи заявления</div>
    <div class="info__value">12.01.2019</div>
  </div>
  <div class="statement__info__item">
    <div class="info__label">Статус заявления</div>
    <div class="info__value status">Одобрено</div>
  </div>
  <div class="statement__info__item">
    <div class="info__label">Причины отказа</div>
    <div class="info__value">Потому что Пидор</div>
  </div>
</div>
