<div class="title">Новое заявление для сотрудника</div>
<form class="form" [formGroup]="statementForm">
  <div class="column">
    <div class="form__item">
      <div class="form__item_label">Имя</div>
      <input type="text" class="form__item_input" formControlName="firstName">
    </div>

    <div class="form__item">
      <div class="form__item_label">Фамилия</div>
      <input type="text" class="form__item_input" formControlName="middleName">
    </div>

    <div class="form__item">
      <div class="form__item_label">Отчество</div>
      <input type="text" class="form__item_input" formControlName="lastName">
    </div>

    <div class="form__item">
      <div class="form__item_label">Должность</div>
      <input type="text" class="form__item_input" formControlName="position">
    </div>

    <div class="form__item">
      <div class="form__item_label">Кафедра</div>
      <input type="text" class="form__item_input" formControlName="department">
    </div>
  </div>
  <div class="column">
    <div class="form__item">
      <div class="form__item_label">Выберите фотографию</div>
      <input class="form__item_input" type="file" formControlName="photoFile">
    </div>

    <div class="form__item">
      <div class="form__item_label">Номер телефона</div>
      <input type="text" class="form__item_input" formControlName="phoneNumber">
    </div>

    <div class="form__item">
      <div class="form__item_label">Email</div>
      <input type="text" class="form__item_input" formControlName="email">
    </div>

    <div class="form__item">
      <div class="form__item_label">Причина потери</div>
      <input type="text" class="form__item_input" formControlName="reason">
    </div>
  </div>
</form>
<div class="buttons">
  <button class="button button__save">Сохранить</button>
  <button class="button button__send" type="submit">Отправить</button>
</div>
