<app-mask class="opened" [class.hidden]="isMaskHidden" (click)="hidePopupsAndMasks()"></app-mask>
<header>
  <div class="logo" routerLink="/"><img src="../assets/logo.png" alt="logoBMSTU" class="logo-image"></div>
  <div class="title">Служба пропусков МГТУ им. Н. Э. Баумана</div>
  <div class="button" (click)="openLoginForm()" *ngIf="!(afAuth.user | async)">Вход для сотрудников</div>
  <div class="button" (click)="logOut()" *ngIf="afAuth.user | async">Выход</div>
</header>
<section class="content">
  <section class="main__component" >
    <router-outlet></router-outlet>
  </section>
  <aside>
    <div class="aside__title">
      Новости
    </div>

    <div class="news">
      <div class="news__item">
        <div class="news__item-title">Теперь - по МИРУ</div>
        <div class="news__item-text">Можно скроллить! С этого месяца все студенты могут проходить
          в корпуса по карте мир. Для этого установлены на всех проходных установлены турникеты.
          А тут еще большоооой текст новости об этом, давайте порадуемся!
        </div>
      </div>
      <div class="news__item">
        <div class="news__item-title">Часы приема</div>
        <div class="news__item-text">Новость о часах приема СП МГТУ им Баумана. Нормальная новость</div>
      </div>
      <div class="news__item">
        <div class="news__item-title">Новость!</div>
        <div class="news__item-text">Небольшая новость о чем-то малозначимом</div>
      </div>
    </div>
  </aside>
</section>

<footer>
  <div class="address">
    <div class="addr">105005, Москва, 2-я Бауманская ул., д. 5, стр. 1</div>
    <div class="block">
      <div class="block__item">
        <div class="block__title">Телефон</div>
        <div class="block__value">(499) 263-6391</div>
      </div>
      <div class="block__item">
        <div class="block__title">Факс</div>
        <div class="block__value">(499) 267-4844</div>
      </div>
      <div class="block__item">
        <div class="block__title">Эл. почта</div>
        <div class="block__value">bauman@bmstu.ru</div>
      </div>
    </div>

    <div class="block">
      <div class="prkom">Приёмная комиссия</div>
      <div class="block">
        <div class="block__item">
          <div class="block__title">Телефон</div>
          <div class="block__value">(499) 263-6391</div>
        </div>
        <div class="block__item">
          <div class="block__title">Эл. почта</div>
          <div class="block__value">bauman@bmstu.ru</div>
        </div>
      </div>
    </div>
  </div>
  <div class="quote">
    <div class="quote__title">Ракетный колледж на Яузе</div>
    <div class="quote__text">
      — так иногда называют наш университет.
      МВТУ — пионер в решении задач авиации, создании ракетной техники, ядерной энергетики и радиоэлектроники</div>
  </div>
  <div class="links">
    <div class="socialnetworks">
      <div class="icons">
        <img src="../assets/socials.png" alt="icons">
      </div>
      <div class="block">
        <a href="#">Обратная связь</a>
        <a href="#">Карта сайта</a>
        <div class="block">
          Разработано и оформлено отделом
          Поддержки интернет-ресурсов и баз
          данных УИМП МГТУ им. Н. Э. Баумана
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="popup" [class.hidden]="isLoginFormHidden">
  <div class="popup__title">Авторизация</div>
  <form class="form" [formGroup]="loginForm" (submit)="logIn()">
    <div class="label">Ввведите логин</div>
    <input type="text" class="input" formControlName="email">
    <div class="label">Введите пароль</div>
    <input type="text" class="input" type="password" formControlName="password">
    <button class="submit" type="submit" [disabled]="!loginForm.valid">Войти</button>
  </form>
</div>

<div class="popup" [class.hidden]="isFindStatementHidden">
  <div class="popup__title">Отслеживание заявления</div>
  <div class="form">
    <div class="label">Ввведите номер заявления</div>
    <input type="text" class="input">
    <div class="label">Введите ФИО</div>
    <input type="text" class="input" type="text">
    <button class="submit" (click)="findStatement()">Найти</button>
  </div>
</div>

<div class="popup" [class.hidden]="isContinueStatementHidden">
  <div class="popup__title">Продолжить заполнение</div>
  <form class="form" [formGroup]="continueStatementForm">
    <div class="label">Ввведите номер заявления</div>
    <input type="text" class="input" formControlName="statementId">
    <button class="submit" (click)="continueStatement()">Найти</button>
  </form>
</div>

<div class="popup" [class.hidden]="isStatementSubmittedHidden">
  <div class="popup__title">Отправка заявления</div>
  <div class="form">
    <div class="popup__text">Ваше заявление на выпуск пропуска успешно {{popupsService.status == 1 ? "отправлено" : "сохранено"}}.
      {{submitText}}</div>
    <div class="popup__number">{{popupsService.statementId}}</div>
    <button class="submit">Понятно</button>
  </div>
</div>


