<div class="title">
  Заявления
</div>
<div class="table">
  <div class="table__row">
    <div class="name__title">Имя</div>
    <div class="date__title">Фамилия</div>
    <div class="role__title">Роль</div>
  </div>

  <app-statement-table-item class="table__row"
                            *ngFor="let statement of statements | async"
                            [statement]="statement"
                            (click)="openStatement(statement)">
  </app-statement-table-item>
</div>
<div class="popup" [class.hidden]="isStatementHidden">
  <div class="popup__title">Заявление</div>
  <div class="statement">
    <div class="statement__info">
      <div class="statement__item">
        <div class="statement__label">Фамилия:</div>
        <div class="statement__value">{{middleName}}</div>
      </div>

      <div class="statement__item">
        <div class="statement__label">Имя:</div>
        <div class="statement__value">{{firstName}}</div>
      </div>

      <div class="statement__item">
        <div class="statement__label">Отчество:</div>
        <div class="statement__value">{{lastName}}</div>
      </div>

      <div class="statement__item">
        <div class="statement__label">Группа:</div>
        <div class="statement__value">{{groupIndex}}</div>
      </div>

      <div class="statement__item">
        <div class="statement__label">Срок действия:</div>
        <div class="statement__value">{{dates}}</div>
      </div>
    </div>
    <div class="statement__info statement__info__photo">
      <img [src]="getUrl" alt="" class="statement__photo">
    </div>
  </div>
  <div class="buttons">
    <div class="button button__reject" (click)="reject()">Отказать</div>
    <div class="button button__resolve">Одобрить</div>
  </div>
</div>
<div class="popup statement__reject" [class.hidden]="isStatementRejectHidden">
  <div class="popup__title">Отказ по заявлению</div>
  <div class="statement__reason">
    <div class="statement__title">Укажите причину отказа:</div>

    <div class="statement__title">Комментарий:</div>
    <textarea name="text" id="" class="textarea"></textarea>
  </div>
  <div class="button button__reason__resolve">Отправить</div>
</div>

